// Testing:
// Boostrap default is 1rem, see https://github.com/twbs/bootstrap/blob/v4.1.3/scss/_variables.scss#L256
//$font-size-base: .5rem !default;
//$font-size-base: 1.5rem !default;

@import '~bootstrap/scss/bootstrap';

@import 'bootstrap4-floating-label';
