.floating-label {
  // Edge <= 18/44: there is no way to detect if the input contains text

  > input,
  > textarea {
    @include label-above-input;
  }

  // Show the placeholder
  > input::placeholder,
  > textarea::placeholder {
    color: $input-placeholder-color;
  }
}
