.floating-label {
  // Chrome autofill feature
  // [autofill not being prefixed](https://github.com/postcss/autoprefixer/issues/626)
  // Not supported by Firefox and other browsers
  // => use of mixin instead of Sass placeholder class
  > input:-webkit-autofill,
  > textarea:-webkit-autofill {
    @include label-above-input;
  }
}
